<h1>File Upload</h1>
<app-worksheet></app-worksheet>
<!-- <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
  <button type="button" class="btn btn-info" (click)="Upload()">Upload</button>

  <div *ngIf="tabNames">
    <h2>File Name: {{file.name}}</h2>
    <ul>
      <div *ngFor="let tab of tabNames; let i=index">
        <h3>Tab Name: {{tab}}</h3>
        <h4>Rows:</h4>
        <div *ngFor="let row of tabInfo[i]">{{row}}</div>
        <h4>Cell Information:</h4>
        <div *ngFor="let row of tabInfo[i]">
          <div *ngFor="let cell of row">{{cell}}</div>
        </div>
        <h3>Cell Information Organized:</h3>
         <div *ngFor="let cell of tabInfo[i]">{{cell[0]}}&nbsp;&nbsp;|&nbsp;&nbsp;{{cell[1]}}</div>
      </div>
    </ul>
  </div> -->